<!DOCTYPE html>
<html lang="en">
<head>
	<title>BambuLife: Front-End Test</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/base.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="scripts/app.js"></script>
</head>
<body ng-app="bambu" ng-controller="mainController" ng-cloak>
	<div class="container">
		<header>
			<img src="https://seeklogo.com/images/S/star-wars-logo-9E8585C340-seeklogo.com.png" class="img-responsive" alt="Star Wars">
			<h4>Characters in Star Wars Universe</h4>
		</header>
		<div class="panel-group" id="accordion">
			<div class="panel panel-default" ng-repeat="people in pageContent.results track by $index">
				<div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#people{{ $index }}">
					<h4 class="panel-title" title="Click to view details.">{{ people.name }}</h4>
				</div>
				<div id="people{{ $index }}" class="panel-collapse collapse">
					<div class="panel-body">
						<dl ng-repeat="(key, val) in people">
							<dt>{{ key }}</dt>
							<dd>{{ val }}</dd>
						</dl>
					</div>
				</div>
			</div>
			<ul class="pager">
				<li class="previous" ng-if="pageContent.previous!=null"><a ng-click="getPeople(pageContent.previous)">Previous</a></li>
				<li class="next" ng-if="pageContent.next!=null"><a ng-click="getPeople(pageContent.next)">Next</a></li>
			</ul>
		</div>
		<footer><small>Copyright &copy; Liana Ali 2018</small></footer>
	</div>
</body>
</html>