<!DOCTYPE html>
<html>
<head>
	<title>BambuLife: Front-End Test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="scripts/app.js"></script>
</head>
<body ng-app="bambu" ng-controller="mainController" ng-cloak>
	<h1>STAR WARS</h1>
	<table class="table table-striped">
		<tr>
			<th colspan="2">Name</th>
		</tr>
		<tr ng-repeat-start="people in pageContent.results">
			<td>{{ people.name }}</td>
			<td ng-click="people.expanded=!people.expanded"><i class="fa fa-angle-double-{{ people.expanded? 'up':'down' }}"></i></td>
		</tr>
		<tr ng-repeat-end ng-show="people.expanded">
			<td colspan="2">
				<table>
					<tr ng-repeat="(key, val) in people">
						<td>{{ key }}</td>
						<td>{{ val }}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<span ng-if="pageContent.previous!=null" ng-click="getPeople(pageContent.previous)">Prev</span>
				<span ng-if="pageContent.previous!=null && pageContent.next!=null"> | </span>
				<span ng-if="pageContent.next!=null" ng-click="getPeople(pageContent.next)">Next</span>
			</td>
		</tr>
	</table>
</body>
</html>